.container {
    flex-grow: 1;
}

.progress-bar {
    position: relative;
}

/* pseudo element to create the line under the progress bar */
.progress-bar:after {
    content: "";
    background-color: var(--mid-gray-dark);
    height: 2px;
    width: 100%;
    bottom: -4px;
    position: absolute;
}

.container :global(.ant-progress-steps-item) {
    height: 4px !important;
}

.container :global(.ant-progress-steps-item) {
    background-color: var(--background-color);
}

.labels {
    margin-top: 4px;
}

.number-label {
    font-family: 'Open Sans';
    font-size: 10px;
    font-weight: 400;
    line-height: 13.62px;
}
