.hint-highlight {
    animation: glow 1s infinite alternate;
}

@keyframes glow {
    from {
        box-shadow: 0px 0px 6px 0px #ffffff;
        box-shadow: 0 0 10px -10px #ffffff;
    }
    to {
        box-shadow: 0px 0px 10px 3px #b59ff6;
    }
}
