.container {
    display: flex;
    width: 100%;
    padding: 8px 6px;
    margin-bottom: 12px;
}

.concentration {
    display: flex;
    height: 71px;
    justify-content: space-evenly;
    padding: 8px 6px 0px 6px;
    border-radius: 4px;
}

.concentration :global(.ant-slider) {
    margin-left: 0;
    margin-right: 0;
}

.agent-name {
    font-family: Overpass;
    font-size: 18px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
}

.unit {
    margin: 13.5px;
}

.width-wrapper {
    gap: 16px;
    width: 100%;
    display: flex;
}

.concentration-marker {
    position: absolute;
}

.concentration-marker::before {
    content: "";
    position: absolute;
    left: 20px;
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 9px solid var(--text-color);
}

.concentration-label {
    left: 20px;
    top: 19px;
}
