.number-label {
    font-family: "Open Sans";
    font-size: 10px;
    font-weight: 400;
    line-height: 13.62px;
    text-align: right;
    color: #d3d3d3;
    position: relative;
}

.recorded {
    composes: number-label;
    font-weight: 600;
    color: var(--primary-color);
}

span:has(.recorded)::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 9px;
    top: -28px;
    background-color: var(--primary-color);
    -webkit-mask-size: 10px;
    -webkit-mask-image: url(/src/assets/star.svg);
    mask-image: url(/src/assets/star.svg);
}

.container :global(.ant-slider-dot) {
    width: 2px;
    height: 10px;
    background-color: #4b4b4b;
    border: none;
    inset-block-start: initial;
}

.container :global(.ant-slider-handle):after {
    background-color: var(--primary-color);
    box-shadow: none;
} 