.container {
    background-color: var(--popup-background-color);
    position: absolute;
    bottom: 0;
    right: 10px;
    color: var(--popup-text-color);
    width: 332px;
    padding: 16px;
}

.container .title {
    margin: 0 0 10px 0;
    font-size: 16px;
    font-weight: 500;
}