.container {
    background-color: var(--popup-background-color);
    color: var(--popup-text-color);
    max-width: 332px;
    min-width: 320px;
    padding: 16px;
    border-radius: 4px 4px 0 0;
    z-index: var(--viewer-overlay-layer);
    position: absolute;
    transition: bottom 0.5s ease-in-out;
}

.below-view {
    bottom: -400px;
}

.in-view {
    bottom: 0;
}

.container.collapsed {
    width: 160px;
    min-width: 0;
    height: min-content;
}

.container.collapsed .header {
    margin-bottom: 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 10px;
}

.title {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
}

.failure {
    border: solid var(--border-color) 1px;
    padding: 12px;
    border-radius: 4px;
    margin-top: 10px;
}

.failure h3 {
    margin: 0 0 10px 0;
    font-size: 16px;
    font-weight: 700;
}

.container p {
    margin: 0;
    font-size: 14px;
}

.input-form-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.input-form-content :global(.ant-input-number) {
    width: 100%;
    border: solid var(--border-color) 1px;
    border-radius: 4px;
}

.input-form-content :global(.ant-input-number-input) {
    color: var(--popup-text-color);
}

.input-form-content :global(.ant-input-number-input)::placeholder {
    color: var(--hint-text-color);
    font-style: italic;
}
