.plot-container {
    position: relative;
    margin-bottom: 20px;
}

.y-label {
    position: absolute;
    transform: rotate(-90deg);
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 400;
    bottom: 10px;
    transform-origin: 0% 0%;
}