.nav-bar {
    height: var(--nav-bar-height);
}

.content-panel {
    height: var(--content-height);
    padding: 16px 20px;
    display: flex;
    justify-content: space-between;
}

.content-panel p {
    margin: 0;
}

.call-to-action-p {
    display: flex;
    gap: 8px;
}

.content-panel-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.reaction-panel {
    height: var(--reaction-panel-height);
}
