.nav-bar {
    height: var(--nav-bar-height);
}

.content-panel {
    height: var(--content-height);
    padding: 16px 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--app-border-color);
}

.content-panel p, .content-panel h3 {
    margin: 0;
}

.call-to-action-p {
    display: flex;
    gap: 8px;
}

.content-panel-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 982px;
}

.side-panel {
    padding: 10px 12px;
}

.reaction-panel {
    height: var(--reaction-panel-height);
    border-bottom: 1px solid var(--app-border-color);
}

.reaction {
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
    height: 100%;
    gap: 14.5px;
    justify-content: center;
}

.center-panel {
    position: relative;
}

.feedback {
    font-family: "Open Sans", sans-serif;
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    margin-top: 10px;
}
