.nav-bar {
    height: var(--nav-bar-height);
}

.content-panel {
    height: var(--content-height);
}

.side-panel {
    padding: 10px;
}

.reaction-panel {
    height: var(--reaction-panel-height);
    border-bottom: 1px solid var(--app-border-color);
}

.reaction {
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
    height: 100%;
    gap: 14.5px;
    justify-content: center;
}

.center-panel {
    position: relative;
}