.container {
    height: 100%;
    margin-right: 182px;
}
.progress-bar-wrapper {
    width: 132px;
    display: flex;
    flex-direction: column;
        position: relative;

}

.text-format {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
}

.title {
    composes: text-format;
    font-size: 12px;
}

.page-number {
    composes: text-format;
    height: 12px;
    font-size: 10px;
}

.progress-bar-wrapper::before {
    z-index: 3000;
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    top: 21px;
    left: -2px;
    border-radius: 50%;
    background-color: var(--dark-gray);
}

.container:last-child::after {
    content: url(../../assets/star.svg);
    width: 10px;
    top: 7px;
    position: absolute;
}

.active.progress-bar-wrapper::before {
    background-color: var(--primary-color);
}

