.container {
    position: absolute;
    gap: 12px;
    flex-flow: row wrap;
    width: 100vw;
    height: calc(100vh - var(--nav-bar-height) - var(--content-height));
    z-index: var(--full-page-layer);
    top: 0;
    background-color: black;
}

.image-container {
    flex: 1 1 40%;
    justify-content: center;
}

.image-container:first-of-type {
    border-right: 0.5px solid var(--app-border-color);
}

.image-container h2 {
    text-align: center;
    margin-left: 20px;
    font-size: 20px;
}

.container img {
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .image-container {
        max-height: 50%;
        display: flex;
        width: 100%;
    }
    .image-container:first-of-type {
        border-right: none;
        border-bottom: 0.5px solid var(--app-border-color);
    }
    .container img {
        height: 100%;
        width: auto;
    }
}
