.container {
    display: flex;
    width: 100%;
    padding: 8px 6px;
}

.concentration {
    display: flex;
    height: 71px;
    justify-content: space-evenly;
    padding: 4.5px 8px;
}

.concentration :global(.ant-slider) {
    margin-left: 0;
    margin-right: 0;
}

.agent-name {
    font-family: Overpass;
    font-size: 18px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
}

.unit {
    margin: 13.5px;
}
