.container {
    position: absolute;
    background-image: url("../assets/ipub-bg_4.png");
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    z-index: var(--bottom);
    width: 100vw;
    left: -50%;
    background-position: center;
    overflow: hidden;
}

.container.top {
    z-index: var(--layer-2);
}

.cuvette {
    left: 0;
    right: 0;
    margin: auto;
    bottom: 60px;
    position: absolute;
    width: 95px;
}
