.container {
    position: absolute;
    background-image: url("src/assets/ipub-bg_4.png");
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    z-index: 300;
    width: 100vw;
    left: -50%;
    background-position: center;
}

.container.top {
    z-index: 3000;
}

.cuvette {
    left: 45%;
    bottom: 20px;
    position: absolute;
    width: 136px;
}
