.container {
    height: calc(100vh - var(--nav-bar-height));
    height: calc(100dvh - var(--nav-bar-height));
    background-size: cover;
    position: relative;
}

.container.high-affinity {
    background-image: url("../assets/poliovirus-neutralization.jpg");
}

.content {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 26px 24px;
    max-width: 636px;
    line-height: 24px;
    border-radius: 6px;
}

.content p {
    margin-bottom: 20px;
}

.acknowledgment {
    text-align: right;
    font-size: 10px;
    color: var(--app-text-color);
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    max-width: 40%;

    background-color: rgba(0, 0, 0, 0.8);
}
