.container {
    height: 100%;
}

.progress-bar-wrapper {
    width: 132px;
    height: 43px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.text-format {
    font-weight: 400;
    line-height: 14px;
    text-align: center;
}

.title {
    composes: text-format;
    font-size: 12px;
}

/* dot between modules  */
.progress-bar-wrapper::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    top: 24px; /* aligned by eye after rest of layout created */
    left: 0px;
    border-radius: 50%;
    background-color: var(--dark-gray);
    cursor: pointer;
}

/* click target */
.progress-bar-wrapper::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: 20px;
    left: -5px;
    border-radius: 50%;
    cursor: pointer;
}

.progress-bar {
    margin-top: 8px;
    line-height: 7.5px;
}

/* star at the end */
.container::after {
    content: url(../assets/star.svg);
    width: 10px;
    top: 7px;
    position: absolute;
}

.current .title {
    font-weight: 700;
}

.previous.progress-bar-wrapper::before {
    background-color: var(--primary-color);
}
