.container {
    height: calc(
        100vh - var(--nav-bar-height) - var(--reaction-panel-height) -
            var(--content-height) + (var(--border-thickness) * 2)
    );
    height: calc(
        100dvh - var(--nav-bar-height) - var(--reaction-panel-height) -
            var(--content-height) + (var(--border-thickness) * 2)
    );
}

.container.example {
    height: calc(
        100vh - var(--nav-bar-height) - var(--content-height) +
            (var(--border-thickness) * 2)
    );
    height: calc(
        100dvh - var(--nav-bar-height) - var(--content-height) +
            (var(--border-thickness) * 2)
    );
}

.container .hint-overlay {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding: 16px 24px;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    color: var(--primary-color);
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    z-index: var(--viewer-overlay-layer);
}
