:root {
  --background-color: #141219;
  --text-color: #D3D3D3;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
}

