:root {
    --primary-color: #b59ff6;
    --light-purple: #d7c8ff;
    --background-color: #141219;
    --border-color: var(--background-color);
    --text-color: #d3d3d3;
    --dark-gray: #979797;
    --mid-gray-dark: #4b4b4b;
    --app-border-color: var(--mid-gray-dark);
    --popup-background-color: var(--primary-color);
    --popup-text-color: #141219;
    --hint-text-color: #25222e;
    --mid-gray-dark: #4b4b4b;
    --app-border-color: var(--mid-gray-dark);
    --nav-bar-height: 67px;
    --content-height: 168px;
    --reaction-panel-height: 46px;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);
    color: var(--text-color);
    overflow: hidden;
}

h1,
h2,
h3,
h4 {
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
}

h1 {
    font-size: 20px;
    font-weight: 400;
}

h2 {
    font-size: 18px;
    font-weight: 500;
}

h3 {
    font-size: 16px;
    font-weight: 500;
}

h4 {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
}

p {
    font-weight: 400;
}

a:hover,
a:focus {
    color: white;
}
