:root {
    --primary-color: #b59ff6;
    --active-color: #9e6aff;
    --light-purple: #d7c8ff;
    --background-color: #141219;
    --border-color: var(--background-color);
    --text-color: #d3d3d3;
    --dark-gray: #979797;
    --mid-gray-dark: #4b4b4b;
    --app-border-color: var(--mid-gray-dark);
    --popup-background-color: var(--primary-color);
    --popup-text-color: #141219;
    --hint-text-color: #25222e;
    --app-border-color: var(--mid-gray-dark);
    --nav-bar-height: 67px;
    --content-height: 168px;
    --reaction-panel-height: 46px;
    --border-thickness: 1px;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --bottom: 10; /* lab view under side panels */
    --side-panel-layer: 100; /* side panels */
    --over-side-panel-layer: 200; /* lab view over side panels */
    --viewer-overlay-layer: 300; /* overlay buttons and quiz questions*/
    --full-page-layer: 400; /* final page content */
    --top: 500; /* admin UI and popovers */
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh; /* fallback for browsers that don't support dvh */
    height: 100dvh;
    background-color: var(--background-color);
    color: var(--text-color);
    /* overflow: hidden; */
}

h1,
h2,
h3,
h4 {
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
}

h1 {
    font-size: 26px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 20px;
}

h2 {
    font-size: 18px;
    font-weight: 500;
}

h3 {
    font-size: 16px;
    font-weight: 500;
}

h4 {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
}

p {
    font-weight: 400;
}

a {
    color: var(--primary-color);
}

a:hover {
    text-decoration: underline;
}

a:hover,
a:focus,
a:active {
    color: var(--active-color);
}

/** Ant Design Overrides (things that can't be styled 
* by the theme or by class names)
*/
.ant-popover {
    max-width: 286px;
}

.ant-popover-inner {
    border: 1px solid #6e6e6e;
}
